.headerNav{
    background-color: #f4f3fb;
	top: 0px;
}

.navbar{
    justify-content: space-around;
}

.carrito {
    color: white;
    background-color: #e9c5dc;
    border-color: rgb(99, 99, 99);
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
}

.carrito:hover {
    color: #313131;
}
.navbar-center{
    color: #dfa0c9;
}

.NavBarContainer{
    width: 100%;
    color: #dfa0c9;
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

.logoNavBar{
    width: 150px;
    height: 90px;
}

.divLista ul a{
                    text-decoration: none;
                    color: rgb(75, 75, 75);
                    font-size: 15px;
                    text-align: center;
                    list-style:none;
                    padding: 10px;
}

.ulLista{
    display: flex;
}

.licolor li:hover{
    color: #dfa0c9;
}


.active{
    background-color: #a5a5a541;    
    color: #ffffff;
    text-transform: uppercase;
    flex-direction: row;
    margin-left: 70px;
    font-size: 20px;
}

.active:hover{
    color: #dfa0c9;
}

.inactive{
    color: rgb(97, 97, 97);
    text-transform: uppercase;
    flex-direction: row;
    margin-left: 70px;
    font-size: 20px;}

    .inactive:hover {
        color: #dfa0c9;
      }